@import url('../vendor/vazirmatn/Vazirmatn-font-face.css');
@import url('../vendor/bulma/css/bulma-rtl.min.css');
@import url('particles.css');
@import url('inex.css');

::-webkit-scrollbar {
    height: 3px;
    width: 6px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #393812;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}

* {
    font-family: Vazirmatn, tahoma, sans-serif;
}

body {
    background: #21252b;
    color: #eeeeee;
    min-height: 100vh;
    direction: rtl;
}

nav {

}

a, a:hover {
    color: darkred;
}

a:visited:hover, a:hover {
    color: red;
}

h1, h2, h3, h4, h5, h6, .title, .subtitle {
    color: orangered;
}

footer{
    height: 60vh;
    overflow: hidden;
    margin: 0!important;
}

#navbar {
    background: linear-gradient(90deg, rgba(40, 44, 52, .85) 25%, rgba(181, 19, 19, 0.6222864145658263) 50%, rgba(40, 44, 52, .85) 75%);
    height: 45px;
    display: grid;
    grid-template-columns: 5fr 150px 5fr;
    box-shadow: 0 0 10px darkred;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
}

#navbar > div {
    height: 45px;
}

#menu-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 75px 75px 0 75px;
    border-color: #414652 transparent transparent transparent;
}

#logo-container {
    position: relative;
    height: auto;
}

#logo-container #logo {
    position: absolute;
    width: 100px;
    right: 25px;
    top: 2px;
    transition: 600ms;
}

#navbar:hover #logo {
    transform: rotateY(359deg);
}

.text-end {
    text-align: end;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}


.x-post-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px;
}

.x-post-list .x-item {
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    margin-top: 100px;
    height: 200px;
    padding-left: 200px;
    border-radius: 15px;
}

.x-post-list .x-item .img-container{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 20px;
    top: -75px;
    transform: rotateZ(45deg);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    transition: 500ms;
}

.x-post-list .x-item:hover .img-container{
    top: 25px;
}

.x-post-list .x-item .img-container img{
    width: 180%;
    height: 150%;
    max-width: none;
    object-fit: cover;
    transform: rotateZ(-45deg) translateX(-30px);
}

.x-post-list .x-item h3{
    font-size: 20px;
    font-weight: 300;
    padding: .5em;
    padding-bottom: 0;
}

.x-post-list p{
    text-align: justify;
    padding: 1em;
    line-height: 1.75em;
    max-height: 7em;
    overflow: hidden;
    padding-top: 0;
}
/*header*/

